/* img{
    margin-top: 20px;
    height: 500px;
    width: 420px;
    position: relative; */
    /* position: absolute;
    position: sticky;
    top: 0px;
    left: 0px;
} */


body{
    margin: 0;
    padding: 0;
    background-color: orange;
}

nav{
    background-color: rgb(233, 16, 16);
}
#container{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px;
    display: block;
}

a:hover{
    background-color: aqua;
    color: rosybrown;
}

#menu{
    list-style-type: none;
    padding: 0px;
    position: absolute;
    display: none;
}

#drop:hover #menu{
    display: block;
}